@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-text-color: #333333;
  --text-color-red: #c43442;
  --main-bg-light: #f2f8ff;
  --main-bg-blue: #161829;
  --main-bg-black: #000;
  --main-bg-grey: #7d87aa;
  --footer-bg: #22273e;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 1.6rem;
}

.dropdown__danger__toggle {
  color: var(--text-color-red);
  cursor: pointer;
  box-sizing: border-box;
  filter: brightness(0) saturate(100%) invert(25%) sepia(42%) saturate(3627%)
    hue-rotate(333deg) brightness(90%) contrast(86%);
}
.dropdown__menu::before {
  display: block;
  content: '';
  border-top: 0.6rem solid var(--main-bg-light);
  width: 4.5rem;
  border: 2px solid var(--text-color-red);
}
.dropdown__container {
  position: relative;
}
.dropdown__menu {
  text-align: left;
  background-color: #ffff;
  list-style: none;
  position: absolute;
  top: 3.9rem;
  width: 24rem;
}
.dropdown__menu li {
  margin: 2rem 0.5rem;
}

.navigator {
  display: grid;
  height: 100vh;
  background-color: var(--main-bg-black);
  grid-template-columns: 1fr;
}
.navigator__main {
  background-color: #10293d4d;
}
.navigator__main--row {
  margin-top: 2rem;
}
.stretch {
  margin-bottom: 24rem;
}
.navigator__main__top {
  display: grid;
  height: 5rem;
  background-color: var(--main-bg-blue);
  grid-template-columns: repeat(2, 1fr);
}
.navigator__main__bottom {
  display: grid;
  height: 11rem;
  background-color: var(--main-bg-light);
  grid-template-columns: 1fr 3fr;
}
.navigator__main__buttons {
  justify-self: end;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}
.button {
  height: 3.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.2rem;
  border: 0.1rem solid #ffff;
  padding: 0.4rem 1.2rem;
}
.button--outlined {
  color: #ffff;
  border-color: #ffff;
  background-color: var(--main-bg-blue);
}
.button--light {
  background-color: #ffff;
}
.button--grey {
  background-color: var(--main-bg-grey);
  color: #ffff;
  border: none;
}
.search {
  width: 3.2rem;
  height: 3.2rem;
}
.navigator__main__links__top:visited,
.navigator__main__links__top:hover,
.navigator__main__links__top:active,
.navigator__main__links__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-left: 2rem;
  line-height: 2.8rem;
  font-size: 1.4rem;
  max-width: 37rem;
  color: #ffff;
  position: relative;
}
.navigator__main__links__top a:visited,
.navigator__main__links__top a:hover,
.navigator__main__links__top a:active,
.navigator__main__links__top a {
  text-decoration: none;
  color: #ffff;
}
.navigator__main__bottom {
  display: grid;
  grid-template-columns: 1fr 11fr;
  font-weight: 600;
  height: 6rem;
  gap: 10rem;
  align-items: center;
  cursor: pointer;
}
.navigator__main__logo {
  margin-left: 2rem;
}
.navigator__main__links__top::after {
  content: '';
  position: absolute;
  top: 3.7rem;
  left: 3%;
  margin-left: -15px;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0px auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--main-bg-light);
}

.navigator__main__links__bottom {
  display: grid;
  grid-template-columns: repeat(9, max-content);
  gap: 1.4rem;
  margin-left: auto;
  align-items: center;
  text-align: center;
  margin-right: 2rem;
}
.navigator__main__links__bottom a {
  text-decoration: none;
  color: var(--main-text-color);
}

.article__wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 1fr auto;
}
.article__header {
  display: grid;
  grid-area: header;
}
.article__section {
  display: grid;
  grid-area: main;
}
.article__footer {
  display: grid;
  grid-area: footer;
}

.page {
  background-color: #ffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-content: center;
  padding: 1rem 25rem;
}
.back {
  color: #7a95ab;
  font-weight: 400;
  padding: 2rem 25rem;
  height: 4.6rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.article__title {
  color: #161829;
  font-size: 3.8rem;
  line-height: 4.5rem;
  text-align: left;
  padding: 0 25rem;
  margin-bottom: 2.2rem;
}
.article__subtitle {
  color: #363a51;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: left;
  padding: 0 25rem;
}
article h2 {
  font-size: 2.4rem;
  color: #161829;
  padding: 2rem 0;
}
.article h5 {
  color: #7d87aa;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.article span {
  color: #7a95ab;
}
.tags span {
  color: #3d3356;
  font-size: 1.2rem;
  background-color: #e4e7ea;
  border: 1px solod #cccccc;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 1rem 0;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
}
.article figcaption {
  color: #363a51;
  font-size: 1.4rem;
  font-weight: 400;
}
.article p {
  max-width: 64rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 2rem;
}
.gift {
  color: #7a95ab;
  border: 1px solid #7a95ab;
  border-radius: 2rem;
  height: 3rem;
  padding: 0.5rem;
  text-decoration: none;
}
.side {
  color: #7d87aa;
  font-size: 1.4rem;
  font-weight: 400;
  display: grid;
  grid-template-rows: [start-side] min-content [start-space] 1fr [end-space] min-content [end-side];
}
.article__from mark {
  background-color: #ffff;
  color: #363a51;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: underline;
}
.article__from {
  grid-row: start-side/start-space;
}
.article__from:last-child {
  margin-bottom: 0;
}
.article__from p {
  margin-bottom: 1rem;
}
.article__from .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.article__related {
  grid-row: end-space/end-side;
}
.line {
  border-top: 1px solid #e6e6e6;
}
.article__related h3 {
  font-weight: 400;
  color: #7d87aa;
  font-size: 1.8rem;
  padding: 1rem;
}
.article__related p {
  padding: 1rem;
  font-size: 1.7rem;
  color: #161829;
  font-weight: 600;
}
.footer {
  display: grid;
  background-color: var(--footer-bg);
  font-size: 1.4rem;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 5rem;
}
.footer li {
  font-weight: 600;
  color: #ffff;
  list-style: none;
  margin-top: 2rem;
}
.footer h3 {
  color: #cccccc;
  font-weight: 700;
  font-size: 1.8rem;
}
.footer p {
  color: #cccccc;
  font-weight: 400;
}
.footer p:last-of-type {
  color: #7a95ab;
}
.footer div {
  color: #e6e6e6;
}
.social__container {
  display: flex;
  align-items: center;
}
.social__container--one {
  display: flex;
  align-items: center;
}
.social__container--two {
  display: none;
}
.hide-desktop {
  display: none;
  padding: 0 5rem;
}
.social {
  margin-right: 0.8rem;
  text-align: center;
}
.social__logo--one {
  margin-bottom: 2rem;
}
.social__logo--two {
  display: none;
}
.footer__disclaimer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}
.article__from_mobile {
  display: none;
}
.nav-btn {
  border: none;
  border-radius: 0;
  background-color: var(--main-text-color);
  height: 2px;
  width: 3rem;
  margin-top: 0;
  margin-right: auto;
  display: none;
}
.nav-btn::before,
.nav-btn::after {
  background-color: var(--main-text-color);
  height: 2px;
  width: 3rem;
  content: '';
  display: block;
}
.nav-btn::before {
  transform: translateY(-1.2rem);
}
.nav-btn::after {
  transform: translateY(1rem);
  background-color: var(--main-text-color);
}
@media screen and (max-width: 480px) {
  .nav-btn {
    display: block;
  }
  .social__logo--one {
    display: none;
  }
  .social__logo--two {
    display: flex;
    margin-bottom: 2rem;
    width: 65vw;
  }
  .social__container--one {
    display: none;
  }
  .social__container--two {
    display: flex;
    align-items: center;
    padding: 0 5rem;
  }
  .hide-mobile {
    display: none;
  }
  .article__wrapper {
    width: 100vw;
    overflow: hidden;
  }
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article h5 {
    align-self: flex-start;
  }
  .navigator__main__top {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: max-content;
  }
  .navigator__main__links__bottom {
    display: none;
  }
  .navigator__main__links__top {
    font-size: 1.2rem;
    line-height: 2.8rem;
    display: flex;
    align-content: center;
    gap: 2rem;
  }
  .navigator__main__bottom {
    gap: 40vw;
  }
  .side {
    color: #7d87aa;
    font-size: 1.4rem;
    font-weight: 400;
    display: grid;
    grid-template-rows: start-side/end-side;
    width: 90vw;
  }
  .footer__nav {
    display: grid;
    grid-template-columns: minmax(2rem, auto) 1fr;
  }
  .footer__disclaimer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .page {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .article__wrapper {
    max-width: 36rem;
  }
  .article__title {
    font-size: 2.7rem;
    line-height: 3.2rem;
    padding: 2rem 0;
    max-width: 31rem;
    margin-left: 2rem;
    margin-bottom: -2rem;
  }
  .article p {
    max-width: 90vw;
  }
  .tags {
    max-width: 90vw;
  }
  .article__subtitle {
    font-size: 2rem;
    line-height: 2.6rem;
    margin-left: 2rem;
    max-width: 31rem;
    padding: 4rem 0;
  }
  .back {
    padding: 1rem;
  }
  .button--outlined {
    display: none;
  }
  .button--light {
    display: none;
  }
  .button--grey {
    display: none;
  }
  .search {
    display: none;
  }
  .article__from_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10rem;
  }
  .article__from_mobile .icons {
    display: flex;
    gap: 1rem;
  }
  .article__from_mobile p {
    color: #7d87aa;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .article__from_mobile mark {
    background-color: #ffff;
    color: #363a51;
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: underline;
  }
  .article__from {
    display: none;
  }
  .article figcaption {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    align-self: center;
    justify-self: center;
  }
  .line:last-of-type {
    margin-bottom: 6rem;
  }
}
